.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .user-info {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .user-info p {
    margin: 5px 0;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  /*
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }*/
  
  .error {
    color: red;
    font-size: 0.9em;
  }
  
  .readonly-input {
    background-color: #f0f0f0;
    color: #666;
    border: 1px solid #ccc;
    cursor: not-allowed;
  }
  
  .update-button,
  .cancel-button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .update-button {
    background-color: #28a745; /* Зеленый цвет для кнопки "Сохранить" */
  }
  
  .update-button:hover {
    background-color: #218838; /* Темнее при наведении */
  }
  
  .cancel-button {
    background-color: #dc3545; /* Красный цвет для кнопки "Отменить" */
  }
  
  .cancel-button:hover {
    background-color: #c82333; /* Темнее при наведении */
  }
  
  .loading {
    text-align: center;
    font-size: 1.5em;
    color: #007bff;
  }
  
  .error {
    text-align: center;
    color: red;
    margin-top: 20px;
  }
  