.profile-container {
  display: inline-block;
}

.user-info {
  width: 1200px;
  height: 311px;
  top: 272px;
  left: 120px;
  gap: 0px;
  opacity: 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 16px 72px 0px rgba(34, 39, 47, 0.05);
  border-radius: 65px 20px 20px 20px;
}

.user-info p {
    margin: 5px 0;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
/*
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
  }*/

.error {
    color: red;
    font-size: 0.9em;
}

.readonly-input {
    background-color: #f0f0f0;
    color: #666;
    border: 1px solid #ccc;
    cursor: not-allowed;
}

.update-button,
.cancel-button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-button {
    background-color: #28a745; /* Зеленый цвет для кнопки "Сохранить" */
}

.update-button:hover {
    background-color: #218838; /* Темнее при наведении */
}

.cancel-button {
    background-color: #dc3545; /* Красный цвет для кнопки "Отменить" */
}

.cancel-button:hover {
    background-color: #c82333; /* Темнее при наведении */
}

.loading {
    text-align: center;
    font-size: 1.5em;
    color: #007bff;
}

.error {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.backspace-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(253, 177, 0, 1);
}

.backspace-button {
    display: flex;
    width: 85px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.profile-title {
    color: rgba(37, 41, 45, 1);
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0px;
}
