.profile-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 20px auto;
}

.user-info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 311px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 16px 72px 0px rgba(34, 39, 47, 0.05);
    border-radius: 65px 20px 20px 20px;
    margin-top: 40px;
}

.user-info-edit {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.user-info-first-block {
    width: 542px;
    height: 50px;
    border-radius: 16px;
    border: 1px;
    border: 1px solid rgba(145, 150, 161, 0.4);
}

.user-info-first-title {
    width: 57px;
    height: 25px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(37, 41, 45, 0.5);
    margin: 0px 20px;
}

.user-info-title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(37, 41, 45, 0.5);
    margin: 10px 20px 0px 20px;
}

.user-info-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: start;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(74, 82, 90, 1);
    margin: 0px 20px;
    height: 120px;
    width: 430px;
    padding: 0px;
    resize: none;
    background-color: initial;
    outline: none;
    border: 0px;
    overflow: hidden;
}

.user-info-first {
    width: 542px;
    height: 190px;
    margin-left: 59px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-info-second {
    width: 472px;
    height: 191px;
    border-radius: 16px;
    border: 1px solid rgba(145, 150, 161, 0.4);
    margin-right: 59px;
}

.user-recipe-count-container {
    width: 1200px;
    height: 151.18px;
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-recipe-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    height: 151.18px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 16px 72px 0px rgba(34, 39, 47, 0.05);
}

.count {
    font-family: Montserrat;
    font-size: 107px;
    font-weight: 600;
    line-height: 30px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(253, 177, 0, 1);
    margin-right: 30px;
}

.user-recipe-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.img-rectangle {
    width: 46.34px;
    height: 47.24px;
    border-radius: 12px;
    background: rgb(252, 235, 199);
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-text {
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(37, 41, 45, 1);
    margin: 15px 0px;
}

.personal-recipe-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(37, 41, 45, 1);
}

.personal-recipes-list {
    display: inline;
    width: 1200px;
    margin-top: 0px;
    padding: 0px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 0.9em;
}

.readonly-input {
    background-color: #f0f0f0;
    color: #666;
    border: 1px solid #ccc;
    cursor: not-allowed;
}

.update-button,
.cancel-button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-button {
    background-color: #28a745;
}

.update-button:hover {
    background-color: #218838;
}

.cancel-button {
    background-color: #dc3545; 
}

.cancel-button:hover {
    background-color: #c82333;
}

.loading {
    text-align: center;
    font-size: 1.5em;
    color: #007bff;
}

.error {
    text-align: center;
    color: red;
    margin-top: 20px;
}

.backspace-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(253, 177, 0, 1);
}

.backspace-button {
    display: flex;
    width: 85px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.profile-title {
    color: rgba(37, 41, 45, 1);
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0px;
}
