.create-recipe-page {
    display: flex;
    flex-direction: column;
    width: 1200px;
    justify-content: center;
    margin: auto;
}

.create-recipe-page input {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(37, 41, 45, 0.5);
}

.backspace-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(253, 177, 0, 1);
    margin: 5px;
}

.backspace-button {
    display: flex;
    width: 85px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0px;
}

.title-button-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-recipe-title {
    margin: 0px;
    font-family: Montserrat;
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(37, 41, 45, 1);
}

.create-recipe-button {
    width: 278px;
    height: 60px;
    border-radius: 16px;
    background: rgba(253, 177, 0, 1);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 255, 255, 1);
}

.create-recipe-form {
    width: 1200px;
    height: 430px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 16px 72px 0px rgba(34, 39, 47, 0.05);
    border-radius: 72px 24px 24px 0px;
    margin-top: 35px;
    display: flex;
}

.create-recipe-image-block {
    width: 430px;
    height: 430px;
}

.create-recipe-image {
    width: 430px;
    height: 430px;
    border-radius: 72px 0px 72px 0px;
    background: linear-gradient(0deg, #fffcf7, #fffcf7),
        linear-gradient(0deg, #ffefcc, #ffefcc);
    display: flex;
    align-items: center;
    justify-content: center;
}

.import-image-rectangle {
    width: 269px;
    height: 269px;
    border-radius: 20px;
    border: 1px dashed rgba(242, 158, 31, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.import-image-rectangle img {
    margin-bottom: 30px;
}

.import-image-text p {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(242, 158, 31, 1);
    margin: 0px;
}

.create-recipe-info-block {
    width: 647px;
    margin: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recipe-info-name {
    padding-left: 15px;
    width: 647px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid rgba(145, 150, 161, 0.4);
    box-sizing: border-box;
}

.recipe-info-about {
    padding: 0 15px 10px 15px;
    width: 647px;
    height: 117px;
    border-radius: 16px;
    border: 1px solid rgba(145, 150, 161, 0.4);
    line-height: 1.2;
    box-sizing: border-box;
}

.recipe-info-tags {
    width: 647px;
    height: 50px;
    border-radius: 16px;
    border: 1px solid rgba(145, 150, 161, 0.4) 
}
