.backspace-text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(253, 177, 0, 1);
}

.backspace-button {
    display: flex;
    width: 85px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}