header {
    padding: 20px 30px;
    background: #fefefb;
}

.header-title {
    width: 132px;
    height: auto;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(253, 177, 0, 1);
    margin-left: 70px;
}

.header-navigate {
    width: 524px;
    height: auto;
    display: flex;
    align-items: center;
}

.nav-link {
    width: 74px;
    height: 22px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;
    color: rgba(145, 150, 161, 1);
    transition: color 0.3s, font-weight 0.3s;
}

.nav-link-active {
    font-weight: 600;
    color: rgba(58, 60, 65, 1);
}

.header-block {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: space-between;
}

.icon {
    width: fit-content;
    height: fit-content;
}

.separator {
    width: 0px;
    height: 20px;
    margin: 0 3px;
    border-left: 1px solid rgba(253, 177, 0, 0.72)
}

.header-user {
    display: flex;
}
.header-user-block {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header-user-text {
    color: rgba(253, 177, 0, 1);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

li {
    margin: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
