.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgba(254, 254, 251, 1);
    position: relative;
    z-index: 1;
    background-image: url('./assets/images/background.png');
    background-position: -200px center;
}

.content {
    flex: 1;
    padding: 20px 100px;
}
